# Secrets
.env
*.env
!.env.example

# Docker Data
**/n8n_data/**
**/postgres_data/**
**/traefik_data/**
**/n8n_local_data/**
**/postgres_local_data/**

# System Files
.DS_Store
Thumbs.db
*.log

# IDE
.vscode/
.idea/
